body {
 background-color:LightCyan;
}
h1{
font-family: 'Quicksand', sans-serif;
}
img{
  border-style: solid;
  border-color: rgb(217,217,217);
  border-width: 5px;
}
h2{
  font-family: 'Quicksand', sans-serif;
  text-decoration: underline;
}
h3{
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  text-decoration: underline;
}
h4{
  font-size: 15px;
}
